@import "~bulma";

@font-face {
	font-family: "iconfont";
	src: url("../font/iconfont.woff2") format("woff2");
}

._icon {
	font-family: iconfont !important;
	font-style: normal;
	font-weight: normal !important;
	line-height: 1;
	vertical-align: middle;
}

body {
    padding-top: 40px;
}

.nav.big-page-nav {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
}

.nav_icon {
    font-size: 24px;
    padding-right: 10px;
}

raw-markdown#intro-text {
    font-size: 90%;
}

episode-card, [data-is="episode-card"] {
    margin-bottom: 25px;
}

seasons, [data-is="seasons"] {
    cursor: default;
    font-size: 18px;
}

.blockers {
    font-size: 70%;
    ul {
        display: inline;
        list-style: none;
        li {
            display: inline;
        }
        li:after {
            content: ", ";
        }
        li:last-child:after {
            content: ".";
        }
    }
}

.card-move-footer {
    button {
        min-width: 120px;
        margin-left: 10px;
        margin-right: 10px;
        ._icon {
            margin-left: 5px;
        }
    }
}

.bbcode-container {
    height: 100px;
    overflow: scroll;
    margin-bottom: 30px;
    border: 1px solid black;
}
