@import "~bulma";

@font-face {
	font-family: "iconfont";
	src: url("../font/iconfont.woff") format("woff");
}

._icon {
	font-family: iconfont !important;
	font-style: normal;
	font-weight: normal !important;
	line-height: 1;
	vertical-align: middle;
}

body {
    padding-top: 40px;
}

.big-page-nav {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;

    .nav-right .extra-menu-desc {
        margin-right: 1em;
    }
}

span.nav-toggle span {
    height: 3px;
}

.big-season-icon {
    margin-bottom: 0 !important;
    margin-right: 25px;

    i {
        font-size: 83px;
    }
}

.nav_icon {
    font-size: 24px;
    padding-right: 10px;
}

raw-markdown#intro-text {
    font-size: 90%;
}

episode-card, [data-is="episode-card"] {
    margin-bottom: 25px;
}

.card.virtual {
    background-color: $white-ter;
    .eye-button {
        background-color: $white-ter;
    }
}

seasons, [data-is="seasons"] {
    cursor: default;
}

.card-header-icon {
    font-size: 18px;
}

.blockers {
    font-size: 12px;
    ul {
        display: inline;
        list-style: none;
        li {
            display: inline;
        }
        li:after {
            content: ", ";
        }
        li:last-child:after {
            content: ".";
        }
    }
    .option {
        cursor: pointer;
        ._icon {
            vertical-align: baseline;
            position: relative;
            top: 1px;
            font-size: 10px;
            margin: 0 1px;
        }
    }
    .option:hover {
        color: $success;
    }
}

.card-move-block {
    margin-left: 25px;
    margin-bottom: 15px;
}

.card-content.collapse {
    .episode-comment {
        display: none;
    }
    .card-move-block {
        margin-bottom: 0;
    }
}
